@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    min-height: 100vh;
}

button, input[type="checkbox"]{
    cursor: pointer;
}

.todo{
    border-bottom: 2px solid gray;
    line-height: 2.1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @apply my-6;
}

.task{
    @apply dark:text-blue-100 text-gray-800 w-4/5 flex items-center justify-between;
    padding: .5rem 0;
}

.delete{
    @apply bg-blue-500 rounded p-2 dark:bg-blue-200;
}

.task-name{
    max-width: 26rem;
    word-break: break-all;
}